*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:system-ui, -apple-system, sans-serif;
    overflow-x:hidden;
}

/* Loader */
#loader{
    position:fixed;
    width:100%;
    height:100vh;
    background:white;
    display:flex;
    justify-content:center;
    align-items:center;
    z-index:9999;
    transition:opacity .4s ease;
}

#loader img{
    width:60%;
    max-width:220px;
}

/* Top Section */
.top-section{
    position:relative;
    height:50vh;
    background:#01a755;
    color:white;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:20px;
}

.logo{
    position:absolute;
    top:15px;
    width:70px;
}

.top-section::after{
    content:"";
    position:absolute;
    bottom:-1px;
    left:0;
    width:100%;
    height:100px;
    background:white;
    clip-path:polygon(0 0,100% 100%,0 100%);
}

.company-name{
    font-size:clamp(16px,3vw,20px);
    font-weight:bold;
	font-family: Lato;
}

.event-title{
    font-size:clamp(32px,5vw,34px);
    margin-top:8px;
	font-family: Lustria;
}

.description{
    margin-top:12px;
    max-width:700px;
    font-size:clamp(14px,3vw,18px);
}

/* Floating Video */
.video-wrapper{
    max-width:800px;
    margin:-100px auto 30px auto;
    padding:0 15px;
}

.video-wrapper iframe{
    width:100%;
    aspect-ratio:16/9;
    border:none;
    border-radius:14px;
    box-shadow:0 8px 20px rgba(0,0,0,.15);
}

/* Bottom Section */
.bottom-section{
    text-align:center;
    padding:30px 20px 50px 20px;
}

.arrow{
    font-size:36px;
    color:#e63946;
    animation:bounce 1.2s infinite;
}

@keyframes bounce{
    0%,100%{transform:translateY(0);}
    50%{transform:translateY(8px);}
}

.scan-text{
    margin-top:8px;
    font-weight:bold;
}

.register-button{
    display:inline-block;
    margin-top:12px;
    padding:12px 25px;
    background:#01a755;
    color:white;
    text-decoration:none;
    border-radius:25px;
    font-weight:bold;
}

.contact{
    margin-top:40px;
    font-size:14px;
}

.contact a{
    color:#01a755;
    text-decoration:none;
}